{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  
  <link href="{% static 'calendar.css' %}" rel="stylesheet">
</head>
<body>
  <div class="container">

    <div class="calendar-base">
  
      <div class="year">2021</div>
      <!-- year -->
  
      <div class="triangle-left"></div>
      <!--triangle -->
      <div class="triangle-right"></div>
      <!--  triangle -->
  
      <div class="months">
        <span class="month-hover">Jan</span>c
        <span class="month-hover">Feb</span> 
        <span class="month-hover">Mar</span> 
        <span class="month-hover">Apr</span>
        <span class="month-hover">May</span>
        <span class="month-hover">Jun</span>
        <span class="month-hover">July</span> 
        <strong class="month-color">Aug</strong> 
        <span class="month-hover">Sep</span> 
        <span class="month-hover">Oct</span> 
        <span class="month-hover">Nov</span> 
        <span class="month-hover">Dec</span>
      </div><!-- months -->
      <hr class="month-line" />
  
      <div class="days">SUN MON TUE WED THU FRI SAT</div>
      <!-- days -->
  
      <div class="num-dates">
  
        
        <!-- first week -->
        <div class="first-week"> 01 02 03 04 05 06 07</div>
        <!-- week -->
        <div class="second-week"> 08 09 10 11 12 13 14</div>
        <!-- week -->
        <div class="third-week"> 15 16 17 18 19 20 21</div>
        <!-- week -->
        <div class="fourth-week"> 22 23 24 25 26 27 28 </div>
        <!-- week -->
        <div class="fifth-week"> 29 30 31<span class="grey"> 01 02 03 04</span></div>
        <!-- week -->
      </div>
      <!-- num-dates -->
      <div class="event-indicator"></div>
      <!-- event-indicator -->
      <div class="active-day"></div>
      <!-- active-day -->
      <div class="event-indicator two"></div>
      <!-- event-indicator -->
  
    </div>
    <!-- calendar-base -->
    <div class="calendar-left">
  
      <div class="hamburger">
        <div class="burger-line"></div>
        <!-- burger-line -->
        <div class="burger-line"></div>
        <!-- burger-line -->
        <div class="burger-line"></div>
        <!-- burger-line -->
      </div>
      <!-- hamburger -->
  
  
      <div class="num-date">05</div>
      <!--num-date -->
      <div class="day">THURSDAY</div>
      <!--day -->
      <div class="current-events">Current Events
        <br/>
        <ul>
          <li>Assignment</li>
        </ul>
        <span class="posts">See past events</span></div>
      <!--current-events -->
  
      <div class="create-event">Create an Event</div>
      <!-- create-event -->
      <hr class="event-line" />
      <div class="add-event"><span class="add">+</span></div>
      <!-- add-event -->
  
    </div>
    <!-- calendar-left -->
  
  </div>
  <!-- container -->
  </body>
  </html>
